# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: InvisiRisk

on:
  workflow_dispatch:

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:

    # Setup PSE
     - name: Setup PSE
       uses: invisirisk/pse-action@latest
       with:
         api_url: "https://app.stage.invisirisk.com"
         app_token: ${{ secrets.IR_API_KEY_STAGE }}
        
     - uses: actions/checkout@v2
    
     - name: Setup Node.js "22.11.0"
       uses: actions/setup-node@v4
       with:
        node-version: "22.11.0"

    # Note: if this step is failing due to authentication errors, it is likely because you regenerated the npm-shrinkwrap.json 
    #   file while your local NPM was set to use the coxauto artifactory NPM registry. To fix this, locally delete your node_modules
    #   folder and npm-shrinkwrap.json file, then run `npm i --registry=https://registry.npmjs.org/` to reinstall using public NPM
    #   and then `npm shrinkwrap` to regenerate the npm-shrinkwrap.json file.
     - name: Install dependencies
       run: npm ci
     - run: npm run build --if-present
     - name: Run tests
       run: npm test -- --no-watch

     - name: List all installed packages
       run: npm list --all

       # Cleanup PSE
     - name: Cleanup PSE
       if: always()
       uses: invisirisk/pse-action@latest
       with:
          cleanup: "true"

  gather_analytics:
   runs-on: ubuntu-latest
   name: Gather Analytics
   needs: build_and_test
   if: always()
   steps:
   - name: Gather Status
     uses: invisirisk/pse-action@latest
     with:
      api_url: "https://app.stage.invisirisk.com"
      app_token: ${{ secrets.IR_API_KEY_STAGE }}
      send_job_status: "true"
      debug: "true"
